@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>University Manager</h1>
    <p class="lead">University Manager is a free college management system which must be able to keep the registration of courses, subjects, teachers, and students.</p>
    <p><a href="https://github.com/LaercioSantana" class="btn btn-primary btn-lg">Source code &raquo;</a></p>
</div>